<!-- later
  <form action="/users/{{userId}}/lands/{{land._id}}/homes" method="POST">
-->

<div class="lands-view dashboard-content">
  <div>
    <p> {{land.name}} (owned by {{user.name}}) </p>
  </div>
  <div class="listen">
    <p>Buy new home.</p>
  </div>
  <a href="/">
    <div class="listen">
      <p>Back to Index.</p>
    </div>
  </a>
</div>

<div class="user-view scroll-content">
  <p>{{user.name}} has {{homes.length}} homes on this lot</p>
  {{#each land.homes}}
<!--  <a href="/users/{{../userId}}/lands/{{landId}}/{{this.id}}"> -->
    <div class="home-details">
      <p>{{this.name}} <span>| {{this.type}} ({{this.color}}) </span></p>
    </div>
<!--  </a> -->
  {{/each}}
</div>