<div class="lands-view dashboard-content">
  <nav>
    <a href="/">
      <div class="listen game-nav-left">
        <h4>Back to home</h4>
      </div>
    </a>

    <a href="/users/{{user._id}}/edit">
      <div class="listen game-nav-right">
        <h4>Edit / delete user</h4>
      </div>
    </a>
  </nav>

  <p class="caption-header">Welcome to {{land.name}}</p>

  <div class="sim-content">
    <div class="sim-placeholder">

    </div>
  </div>

  <p class="caption-header">Would you like to buy something here?</p>

  <a href="/users/{{userId}}/lands/new">
    <div class="listen">
      <h3>Build home!</h3>
    </div>
  </a>
</div>

<div class="user-view scroll-content">
  <p class="caption-header">{{user.name}} has {{land.homes.length}} homes on this lot</p>
  {{#each land.homes}}
  <!--  <a href="/users/{{../userId}}/lands/{{landId}}/{{this.id}}"> -->
  <div class="homes-details">
    <p class="homes-header"><img class="bullet-icon" src="/../favicon.ico"> {{this.name}}:</p>
    
    <ul>
      <li>Type : {{this.type}} </li>
      <li>Color: {{this.color}}</li>
    </ul>

  </div>
  <!--  </a> -->
  {{/each}}
</div>