<!--note: this page both Edits && Deletes -->
<div class="create-new-view">

  <form action="/users/{{user._id}}?_method=PUT" method="POST">

    <div class="index-view dashboard-content">

      <p class="caption-header">Edit / delete {{user.name}}</p>

      <label for="name">Name</label>
      <div class="listen">
        <div class="form-input">
          <input type="text" name="name" value="{{user.name}}" required />
        </div>
      </div>

      <label for="name">Favorite Color</label>
      <div class="listen">
        <div class="form-input">
          <input type="text" name="name" value="{{user.favColor}}" required />
        </div>
      </div>

    </div>

    <div class="scroll-content">

      <p class="caption-header">Like these changes?</p>

      <div class="avatar-button">
        <input class="avatar-submit" type="submit" value="Save">
      </div>
      
      <a href="/users/{{user._id}}/delete">
      <div class="avatar-button">
          <h3>Delete {{user.name}}?</h3>
        </div>
      </a>

      <a href="/users/{{user._id}}">
      <div class="avatar-button">
          <h3>Cancel / go back</h3>
        </div>
      </a>

    </div>


  </form>

</div>