<div class="user-view dashboard-content">
  
    <p>3. This is {{user.name}}'s page.</p>

  <a href="/users/{{user._id}}/edit">
    <div class="listen">
      <p>Edit or Delete {{user.name}}.</p>
    </div>
  </a>
  <a href="/">
    <div class="listen">
      <p>Back to Index.</p>
    </div>
  </a>
</div>
<div class="user-view scroll-content">
    <p>Lots owned by {{user.name}}:</p>
  {{#each lands}}
<a href="/users/{{../userId}}/lands/{{this._id}}">
    <div class="listen">
      <p>Click for {{this.name}}</p>
    </div>
</a>

  {{/each}}
</div>