<div class="user-view dashboard-content">

  <nav>
    <a href="/">
      <div class="listen game-nav-left">
        <h4>Back to home</h4>
      </div>
    </a>

    <a href="/users/{{user._id}}/edit">
      <div class="listen game-nav-right">
        <h4>Edit / delete user</h4>
      </div>
    </a>
  </nav>

  <p class="caption-header">Hello {{user.name}}!</p>


  <div class="sim-content">
    <div class="sim-placeholder">

    </div>
  </div>

  <p class="caption-header">Would you like to buy some land?</p>

  <a href="/users/{{userId}}/lands/new">
    <div class="listen">
      <h3>Buy land!</h3>
    </div>
  </a>
</div>

</div>

<div class="user-view scroll-content">
  <p class="caption-header">Your current lands</p>
  {{#each lands}}
  <a href="/users/{{../userId}}/lands/{{this._id}}">
    <div class="listen">
      <p>{{this.name}}
        <span>| {{this.location}} ({{this.type}}), {{this.homes.length}} homes complete </span>
      </p>
    </div>
  </a>

  {{/each}}
</div>