<div class="user-view dashboard-content">
  
    <p>3. This is {{user.name}}'s page.</p>

  <a href="/users/{{user._id}}/edit">
    <div class="listen">
      <p>Edit or Delete {{user.name}}.</p>
    </div>
  </a>
  <a href="/">
    <div class="listen">
      <p>Back to Index.</p>
    </div>
  </a>
</div>
<div class="user-view scroll-content">
    <p>{{user.name}}'s Lands</p>
  {{#each lands}}
<a href="/users/{{../userId}}/lands/{{this._id}}">
    <div class="listen">
      <p>{{this.name}} <span>| {{this.location}} ({{this.type}}), {{this.homes.length}} homes complete </span></p>
    </div>
</a>

  {{/each}}
</div>